<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script>
       
    </script>

    <title>Countries and Capitals</title>

    <link rel="stylesheet" type="text/css" media="all" href="style.css">

    <script src="modernizr.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="jquery-ui.min.js"></script>

    <!-- jQuery plugin leanModal under MIT License http://leanmodal.finelysliced.com.au/ -->
    <script src="jquery.leanModal.min.js"></script>
</head>
<body>
    <h1 class="h1center">Countries and Capitals</h1>
    <script type="text/javascript">

    </script>
</body>
</html>